HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
**/build/

### VS Code ###
.vscode/
Continental-boot/src/main/resources/application.yml
